aws_region       = "eu-west-1"
project_name     = "portfolio-platform"
environment      = "dev"
vpc_cidr         = "10.40.0.0/16"
instance_type    = "t3.micro"
min_size         = 2
max_size         = 4
desired_capacity = 2
